// global start  
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-osx-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: black;
    overflow-x: hidden;
}

a{
  text-decoration: none;
  color: black;
}
ul{
  list-style: none;
  padding: 0;
}
input {
  outline: none;
  border: none;
}
.fs-s{
  font-size: 13px;
}

// global end

///////////////////////////
///////////////////////////

// footer start
.footer {
  background-color: black;
  .contact-us { 
    color: white;
    &:hover{
      color: gold;
    }
  }
}
// footer end 

///////////////////////////

/////////////////////////// 

// home start 
.home{
  .landing-image {
    max-height:650px;
  }
  .box{
    position: relative;
  }
  .box::before{
    content: "";
    width: 96%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.256);
    position: absolute;
    left: 2%;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .box:hover::before {
    opacity: 1;
  }
}
// home end 

// catego start
.catego {
min-height: 300px;
}
// catego end
// talls start
.talls {
min-height: 300px;
}
// talls end


// res start
@media (max-width:768px) {
//////////////////////
//////////////////////
.carousel-inner {
  button{
    display: none;
  }
}
.landing-image{
  height: 200px;
}
}

@media (max-width:900px) {
  .home{
    .side-bar{
      border-right: none  !important;
    }
}

//////////////////////
//////////////////////


}
// res end